@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1 class="text-center">Our Solar System</h1>

<div class="madlib">
    When we look up into the sky on a/an <b>@ViewBag.adj1</b> summer night, we see millions of tiny spots of light. Each one represents a/an <b>@ViewBag.n2</b> which is the center of a/an <b>@ViewBag.adj3</b> solar system with dozens of <b>@ViewBag.pn4</b> revolving <b>@ViewBag.av5</b> around a distant sun. Sometimes these suns expand and begin <b>@ViewBag.v6</b> their neighbors. Soon they will become so big, they will turn into <b>@ViewBag.sw7</b>. Eventually they will subside and become <b>@ViewBag.adj8</b> giants or perhaps black <b>@ViewBag.pn9</b>. Our own planet which we call <b>@ViewBag.fn10</b>, circles around our <b>@ViewBag.adj11</b> sun <b>@ViewBag.num12</b> times every year. There are eight other planets in our solar system. They are named <b>@ViewBag.fn13</b>, <b>@ViewBag.fn14</b>, <b>@ViewBag.fn15</b>, <b>@ViewBag.fn16</b>, <b>@ViewBag.fn17</b>, <b>@ViewBag.fn18</b>, Jupiter, and Mars. Scientists who study these planets are called <b>@ViewBag.pn19</b>. <br>
    <a asp-controller="Home" asp-action="Index"><button class="button">Make Another Story</button></a>
</div>